// Colors
$uiMain: #ccc;
$uiAccent: #111;
$uiBackground: #fff;
$uiBody: #0d0c22;

// Fonts
$fontMain: "Rubik", sans-serif;
// $fontSecondary: "Karla", sans-serif;

// $fontMain: "Bitter", serif;
$fontSecondary: "Source Sans Pro", sans-serif;

$fontBase: 16px;
